body {
  font-size: 14px;
  line-height: 1.1;
  // color: $default;
  // @extend %proximanova-400;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}


@media (max-width: 1366px) {
  
}

@media (max-width: 1024px) {
  
}

@media (max-width: 880px) {
  
}

@media (max-width: 660px) {
  
}

@media (max-width: 375px) {
  
}